    <%- include('../partials/head'); %>
    <div class="p-2 mb-4 text-sm text-green-700 bg-green-100 text-center rounded-lg dark:bg-blue-200 dark:text-blue-800" role="alert">
      <span class="font-medium ">Info: </span> New App Launched For Listining Podcast
    </div>
    <%- include('../partials/header') %>
    <div class='flex items-center justify-center min-h-screen'>
      <section class="text-center mx-6 lg:w-2/3">
        <img class="m-auto p-4 w-24 lg:w-48" src="/images/6862b46327aa49cda95d877b0e2fc8b1.png" />
        <h1 class="mt-2 p-4 mb-1 text-2xl lg:text-3xl">Curate your own podcast playlists.!</h1>
        <div class="leading-6">
          <p>
            Add individual episodes to Listen Later playlists. It's like Instapaper or Pocket, but for podcasts.
            No need to subscribe to podcasts and leave most episodes unplayed.
            Bring Listen Later playlists to your favorite podcast player apps via RSS.
            <a class="text-blue-700 font-semibold hover:underline hover:decoration-wavy" href="https://twitter.com">Twitter</a> for more updates.
          </p>
          <p class="mt-4">Before Listinig, Start Register</p>
          <a href="#"> <p class="text-red-700 p-4 font-large " >Register Here >>></p></a>
        </div>
      </section>
    </div>
  </body>
</html>
