<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>    
    <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
    <style type="postcss">
        ::selection {
            @apply bg-pink-500;
        }
    </style>
    <title>Document</title>
</head>
<body>
    
</body>
</html>