<%- include('./partials/header.ejs') %>
<main>
    <div class="banner">
        <h1>Home Page</h1>
        <p>Welcome To Home Page</p>
        <p class="red"><%= name %> logged-in</p>
    </div>
    <div>
        <h2 class="green"> <%= message %> </h2>
        <h3>Product Lists</h3>
        <a href="/users/logout">logout</a>
        <a href="/product/index"> Explore Products </a>
    </div>
</main> 
